image:
  nebulaOperator:
    image: vesoft/nebula-operator:v1.7.0
    imagePullPolicy: Always

imagePullSecrets: [ ]
kubernetesClusterDomain: ""

controllerManager:
  create: true
  replicas: 2
  env: [ ]
  resources:
    limits:
      cpu: 200m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 100Mi

admissionWebhook:
  create: false
  # The TCP port the Webhook server binds to. (default 9443)
  webhookBindPort: 9443

scheduler:
  create: true
  schedulerName: nebula-scheduler
  replicas: 2
  env: [ ]
  resources:
    limits:
      cpu: 200m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 100Mi
  verbosity: 0
  plugins:
    enabled: ["NodeZone"]
    disabled: [] # only in-tree plugins need to be defined here

# Enable openkruise scheme for controller manager. (default false)
enableKruiseScheme: false

# Period at which the controller forces the repopulation of its local object stores. (default 0h30m0s)
syncPeriod: 0h30m0s

# Namespaces restricts the controller-manager watches for updates to Kubernetes objects. If empty, all namespaces are watched.
# e.g. ns1,ns2,ns3
watchNamespaces: ""

# The number of NebulaCluster objects that are allowed to sync concurrently. (default 5)
concurrentNebulaClusterSyncs: 5

# The number of NebulaRestore objects that are allowed to sync concurrently. (default 5)
concurrentNebulaRestoreSyncs: 5

# The number of nebula autoscaler objects that are allowed to sync concurrently. (default 5)
concurrentAutoscalerSyncs: 5

nodeSelector: { }

tolerations: [ ]

affinity: { }