image:
  nebulaOperator:
    image: vesoft/nebula-operator:v1.4.2
    imagePullPolicy: IfNotPresent
  kubeRBACProxy:
    image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
    imagePullPolicy: IfNotPresent
  kubeScheduler:
    image: registry.k8s.io/kube-scheduler:v1.24.11
    imagePullPolicy: IfNotPresent

imagePullSecrets: [ ]
kubernetesClusterDomain: ""

controllerManager:
  create: true
  replicas: 2
  env: [ ]
  resources:
    limits:
      cpu: 200m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 100Mi

admissionWebhook:
  create: false

scheduler:
  create: false
  schedulerName: nebula-scheduler
  replicas: 2
  env: [ ]
  resources:
    limits:
      cpu: 200m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 100Mi

# Enable openkruise scheme for controller manager. (default false)
enableKruise: false

# Period at which the controller forces the repopulation of its local object stores. (default 0h30m0s)
syncPeriod: 0h30m0s

# Namespace the controller watches for updates to Kubernetes objects, If empty, all namespaces are watched.
watchNamespace:

# The address the metric endpoint binds to. (default ":8080")
metricsBindAddr: ":8080"

# The address the probe endpoint binds to. (default: ":8081")
healthProbeBindAddr: ":8081"

# The TCP port the Webhook server binds to. (default 9443)
webhookBindPort: 9443

# Maximum number of concurrently running reconcile loops for nebula cluster (default 3)
maxConcurrentReconciles: 3

nodeSelector: { }

tolerations: [ ]

affinity: { }
