nebula:
  version: v2.0.0
  imagePullPolicy: IfNotPresent
  # storageClassName:
  schedulerName: default-scheduler # nebula-scheduler
  reference:
    name: statefulsets.apps
    version: v1
  podLabels: {}
  podAnnotations: {}
  graphd:
    image: vesoft/nebula-graphd
    replicas: 2
    env: []
    resources:
      requests:
        cpu: "500m"
        memory: "500Mi"
      limits:
        cpu: "1"
        memory: "1Gi"
    storage: "1Gi"

  metad:
    image: vesoft/nebula-metad
    replicas: 3
    env: []
    resources:
      requests:
        cpu: "500m"
        memory: "500Mi"
      limits:
        cpu: "1"
        memory: "1Gi"
    storage: "1Gi"

  storaged:
    image: vesoft/nebula-storaged
    replicas: 3
    env: []
    resources:
      requests:
        cpu: "500m"
        memory: "500Mi"
      limits:
        cpu: "1"
        memory: "1Gi"
    storage: "1Gi"

imagePullSecrets: []