nebula:
  version: v3.2.0
  imagePullPolicy: Always
  storageClassName: ""
  schedulerName: default-scheduler # nebula-scheduler
  unsatisfiableAction: ScheduleAnyway
  reference:
    name: statefulsets.apps
    version: v1
  graphd:
    image: vesoft/nebula-graphd
    replicas: 2
    serviceType: NodePort
    env: []
    config: {}
    resources:
      requests:
        cpu: "500m"
        memory: "500Mi"
      limits:
        cpu: "1"
        memory: "500Mi"
    logStorage: "500Mi"
    podLabels: {}
    podAnnotations: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    readinessProbe: {}
    sidecarContainers: []
    sidecarVolumes: []

  metad:
    image: vesoft/nebula-metad
    replicas: 3
    env: []
    config: {}
    resources:
      requests:
        cpu: "500m"
        memory: "500Mi"
      limits:
        cpu: "1"
        memory: "1Gi"
    logStorage: "500Mi"
    dataStorage: "1Gi"
    license: {}
    podLabels: {}
    podAnnotations: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    readinessProbe: {}
    sidecarContainers: []
    sidecarVolumes: []

  storaged:
    image: vesoft/nebula-storaged
    replicas: 3
    env: []
    config: {}
    resources:
      requests:
        cpu: "500m"
        memory: "500Mi"
      limits:
        cpu: "1"
        memory: "1Gi"
    logStorage: "500Mi"
    dataStorage: "1Gi"
    enableAutoBalance: false
    podLabels: {}
    podAnnotations: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    readinessProbe: {}
    sidecarContainers: []
    sidecarVolumes: []


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""