---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: nebulabackups.apps.nebula-graph.io
spec:
  group: apps.nebula-graph.io
  names:
    kind: NebulaBackup
    listKind: NebulaBackupList
    plural: nebulabackups
    shortNames:
    - nb
    singular: nebulabackup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The current status of the backup
      jsonPath: .status.phase
      name: Status
      type: string
    - description: The time at which the backup was started
      jsonPath: .status.timeStarted
      name: Started
      type: date
    - description: The time at which the backup was completed
      jsonPath: .status.timeCompleted
      name: Completed
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              br:
                properties:
                  backupName:
                    type: string
                  clusterName:
                    type: string
                  clusterNamespace:
                    type: string
                  concurrency:
                    format: int32
                    type: integer
                  s3:
                    properties:
                      bucket:
                        type: string
                      endpoint:
                        type: string
                      region:
                        type: string
                      secretName:
                        type: string
                    type: object
                required:
                - clusterName
                type: object
              imagePullPolicy:
                default: Always
                type: string
              imagePullSecrets:
                items:
                  properties:
                    name:
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              maxBackups:
                format: int32
                type: integer
              maxReservedTimeEpoch:
                format: int64
                type: integer
              nodeSelector:
                additionalProperties:
                  type: string
                type: object
              toolImage:
                type: string
            type: object
          status:
            properties:
              backupName:
                type: string
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    lastUpdateTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                nullable: true
                type: array
              jobName:
                type: string
              phase:
                type: string
              timeCompleted:
                format: date-time
                nullable: true
                type: string
              timeStarted:
                format: date-time
                nullable: true
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
